In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# data load 

df = pd.read_csv(r"C:\Users\HP\Desktop\Cybrom work\Projects\Education Research Student Performance\Data\student-mat-pass-or-fail.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,pass
0,1,1,18,1,0,0,4,4,2,2,...,3,4,1,1,3,6,5,6,6,0
1,1,1,17,1,0,1,1,1,1,2,...,3,3,1,1,3,4,5,5,6,0
2,1,1,15,1,1,1,1,1,1,2,...,3,2,2,3,3,10,7,8,10,1
3,1,1,15,1,0,1,4,2,1,3,...,2,2,1,1,5,2,15,14,15,1
4,1,1,16,1,0,1,3,3,1,2,...,3,2,1,2,5,4,6,10,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,0,20,1,1,0,2,2,1,2,...,5,4,4,5,4,11,9,9,9,0
391,0,0,17,1,1,1,3,1,2,1,...,4,5,3,4,2,3,14,16,16,1
392,0,0,21,0,0,1,1,1,1,1,...,5,3,3,3,3,3,10,8,7,0
393,0,0,18,0,1,1,3,2,3,1,...,4,1,3,4,5,0,11,12,10,1
394,0,0,19,1,1,1,1,1,1,1,...,2,3,3,3,5,5,8,9,9,0

In [9]:
df.shape

(395, 30)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    int64
 1   sex         395 non-null    int64
 2   age         395 non-null    int64
 3   address     395 non-null    int64
 4   famsize     395 non-null    int64
 5   Pstatus     395 non-null    int64
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   traveltime  395 non-null    int64
 9   studytime   395 non-null    int64
 10  failures    395 non-null    int64
 11  schoolsup   395 non-null    int64
 12  famsup      395 non-null    int64
 13  paid        395 non-null    int64
 14  activities  395 non-null    int64
 15  nursery     395 non-null    int64
 16  higher      395 non-null    int64
 17  internet    395 non-null    int64
 18  romantic    395 non-null    int64
 19  famrel      395 non-null    int64
 20  freetime    395 non-null    int64
 21  goout       395 non-null    int64
 22  Dalc        395 non-null    int64
 23  Walc        395 non-null    int64
 24  health      395 non-null    int64
 25  absences    395 non-null    int64
 26  G1          395 non-null    int64
 27  G2          395 non-null    int64
 28  G3          395 non-null    int64
 29  pass        395 non-null    int64
dtypes: int64(30)
memory usage: 92.7 KB

In [12]:
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'G3', 'pass'],
      dtype='object')

The dataset contains the student academic and behavioral data , making it perfect to do
analyses on how the Study Habit gives impact on Academic Performance.

I will select the dependent variable and the indrpendent variable in this

Dependent variable:

 -- G3

The final exam score (G3) was selected as the dependent variable.
Study time, absences, past failures, internet access, and previous exam scores (G1 and G2) were used as independent variables.

Independent Variables (Predictors)

These are the factors that influence the dependent variable:
 -- studytime
 -- failures
 -- internet
 -- absences
 -- G1
 -- G2

In [3]:
# drop the coloumn which will be no use 

df = df.drop(columns = ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
    'Medu', 'Fedu', 'traveltime', 'schoolsup', 'famsup',
    'paid', 'activities', 'nursery', 'higher', 'romantic',
    'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'pass'])
df.head()

   studytime  failures  internet  absences  G1  G2  G3
0          2         0         0         6   5   6   6
1          2         0         1         4   5   5   6
2          2         3         1        10   7   8  10
3          3         0         1         2  15  14  15
4          2         0         0         4   6  10  10

In [4]:
#  rename the columns for better understanding

df = df.rename(columns = {"studytime" : "study_hours", 
                           "failures" : "past_failures",
                           "G1" : "first_period_score",
                           "G2" : "second_period_score",
                           "G3" : "final_exam_score"})
df

,study_hours,past_failures,internet,absences,first_period_score,second_period_score,final_exam_score
0,2,0,0,6,5,6,6
1,2,0,1,4,5,5,6
2,2,3,1,10,7,8,10
3,3,0,1,2,15,14,15
4,2,0,0,4,6,10,10
...,...,...,...,...,...,...,...
390,2,2,0,11,9,9,9
391,1,0,1,3,14,16,16
392,1,3,0,3,10,8,7
393,1,0,1,0,11,12,10
394,1,0,1,5,8,9,9

In [27]:
df["internet"].value_counts()

# The internet access variable was already binary encoded in the dataset and did not require additional transformation.

internet
1    329
0     66
Name: count, dtype: int64

In [29]:
# Data Validation 

df.isnull().sum()

study_hours            0
past_failures          0
internet               0
absences               0
first_period_score     0
second_period_score    0
final_exam_score       0
dtype: int64

In [32]:
df.duplicated().sum()

11

In [33]:
df.describe()

,study_hours,past_failures,internet,absences,first_period_score,second_period_score,final_exam_score
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,2.035443,0.334177,0.832911,5.708861,10.908861,10.713924,10.415190
std,0.839240,0.743651,0.373528,8.003096,3.319195,3.761505,4.581443
min,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000
25%,1.000000,0.000000,1.000000,0.000000,8.000000,9.000000,8.000000
50%,2.000000,0.000000,1.000000,4.000000,11.000000,11.000000,11.000000
75%,2.000000,0.000000,1.000000,8.000000,13.000000,13.000000,14.000000
max,4.000000,3.000000,1.000000,75.000000,19.000000,19.000000,20.000000

The dataset was validated to ensure completeness, uniqueness, and logical value ranges.

In [10]:
# to save the cleaned file we will do

df.to_csv(
    r"C:\Users\HP\Desktop\Cybrom work\Projects\Education Research Student Performance\Data\student_mat_cleaned.csv",
    index=False
)

In [11]:
# to check
import os
os.path.exists("../data/student_mat_cleaned.csv")

True

The cleaned dataset was saved locally to ensure reproducibility and consistency across analysis stages.