In [2]:
import pandas as pd

In [12]:
df = pd.read_csv(r"C:\Users\HP\Desktop\Cybrom work\Projects\Education Research Student Performance\Data\student_mat_cleaned.csv")
df.head()

,study_hours,past_failures,internet,absences,first_period_score,second_period_score,final_exam_score
0,2,0,0,6,5,6,6
1,2,0,1,4,5,5,6
2,2,3,1,10,7,8,10
3,3,0,1,2,15,14,15
4,2,0,0,4,6,10,10

In [11]:
# Descriptive Statistics (Core)
df.describe()

,study_hours,past_failures,internet,absences,first_period_score,second_period_score,final_exam_score
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,2.035443,0.334177,0.832911,5.708861,10.908861,10.713924,10.415190
std,0.839240,0.743651,0.373528,8.003096,3.319195,3.761505,4.581443
min,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000
25%,1.000000,0.000000,1.000000,0.000000,8.000000,9.000000,8.000000
50%,2.000000,0.000000,1.000000,4.000000,11.000000,11.000000,11.000000
75%,2.000000,0.000000,1.000000,8.000000,13.000000,13.000000,14.000000
max,4.000000,3.000000,1.000000,75.000000,19.000000,19.000000,20.000000

In [14]:
df[['study_hours','absences','final_exam_score']].median()

study_hours          2.0
absences             4.0
final_exam_score    11.0
dtype: float64

In [16]:
df[['study_hours','absences','final_exam_score']].std()

study_hours         0.839240
absences            8.003096
final_exam_score    4.581443
dtype: float64